body{
font-family: Arial;
background:#e4aae9e8;
text-align:center;
margin:0;
}

header{
background:#222;
color:white;
padding:20px;
}

nav a{
color:white;
margin:10px;
text-decoration:none;
font-weight:bold;
}
nav a:hover{
    color:lawngreen
}
.hero{
display: flex;
align-items: center;
justify-content: space-between;
padding: 60px;
height: 90vh;
background: #7d9ec0;
}

.hero-text h1{
font-size: 48px;
font-weight: bold;
color: #333;
}

.hero-text h1 span{
color: #d946ef;
}

.hero-text p{
font-size: 24px;
color: #444;
margin: 20px 0;
line-height: 1.4;
}

.hero-img img{
width: 420px;
}

@media(max-width:768px){
.hero{
flex-direction: column;
text-align: center;
}

.hero-img img{
width: 300px;
margin-top: 30px;
}
}

.projects{
display: flex;
flex-wrap: wrap;
justify-content: center;
gap: 20px;
margin: 40px;
}

.project-card{
background: white;
width: 260px;
padding: 20px;
border-radius: 12px;
box-shadow: 0 6px 15px rgba(0,0,0,0.15);
transition: 0.3s;
}

.project-card:hover{
transform: translateY(-8px);
box-shadow: 0 10px 20px rgba(0,0,0,0.25);
background-color: #ff9800;
}

.project-card h3{
color: #d946ef;
}

.project-card a{
text-decoration: none;
color: white;
background: #d946ef;
padding: 8px 15px;
border-radius: 6px;
display: inline-block;
margin-top: 10px;
}

.page-title{
text-align: center;
margin-top: 30px;
}

.contact-section{
display: flex;
justify-content: center;
align-items: center;
gap: 40px;
padding: 40px;
}

.contact-img img{
width: 350px;
}

.contact-card{
background: white;
padding: 30px;
width: 300px;
border-radius: 15px;
box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

.contact-card h3{
color: #d946ef;
margin-bottom: 15px;
}

.back-home{
display: block;
text-align: center;
margin-top: 20px;
text-decoration: none;
color: #333;
}

.gallery{
display:flex;
justify-content:center;
gap:15px;
margin:20px;
}

.gallery img{
width:300px;
height:250px;
border-radius:10px;
border:2px solid #333;
}
.about-section{
display: flex;
justify-content: center;
align-items: center;
gap: 40px;
padding: 40px;
}

.about-img img{
width: 350px;
}

.about-card{
background: white;
padding: 30px;
width: 420px;
border-radius: 15px;
box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

.about-card h3{
color: #d946ef;
margin-bottom: 15px;
}

.about-card ul{
list-style: none;
padding: 0;
}

.about-card ul li{
margin: 8px 0;
}

.skills-section{
display: flex;
flex-wrap: wrap;
justify-content: center;
gap: 25px;
padding: 40px;
}

.skills-card{
background: white;
width: 350px;
padding: 25px;
border-radius: 15px;
box-shadow: 0 8px 20px rgba(0,0,0,0.2);
transition: 0.3s;
}

.skills-card:hover{
transform: translateY(-8px);
background-color: lightcoral;
}

.skills-card h3{
color: #d946ef;
margin-bottom: 15px;
}

.skills-card ul{
padding-left: 18px;
}

.skills-card ul li{
margin-bottom: 8px;
line-height: 1.5;
}
@media(max-width:768px){
.hero{
flex-direction: column;
text-align: center;
}

.hero-img img{
width: 300px;
margin-top: 30px;
}
}
table{
    text-align: center;
    justify-content: center;
}
.hero-text{
  animation: fadeIn 1.5s ease-in;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.btn{
transition: 0.3s;
}

.btn:hover{
background: #9333ea;
transform: scale(1.05);
}
/* Floating animation */
@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}

.hero-img img{
  width: 420px;
  animation: float 4s ease-in-out infinite;
}