@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  margin:0;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg,#020617,#020024,#030712);
  color:#e5e7eb;
}


/* ===== HEADER ===== */
header {
  padding: 20px 40px;
  border-bottom: 1px solid #1f2933;
}

.site-name {
  font-size: 28px;
  font-weight: 700;
  color: #38bdf8;
}

.tagline {
  font-size: 14px;
  color: #9ca3af;
  margin-bottom: 15px;
}

/* ===== NAVBAR ===== */
nav {
  display: flex;
  gap: 14px;
  flex-wrap: wrap;
}

nav a {
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 20px;
  font-size: 14px;
  color: #e5e7eb;
  background: #1e293b;
  transition: 0.3s;
}

nav a:hover {
  background: #38bdf8;
  color: #020617;
}

nav a.active {
  background: #a855f7;
  color: #020617;
}
nav{
  display:flex;
  justify-content:center;
  gap:20px;
  margin-top:20px;
}

nav a{
  color:#e5e7eb;
  font-size:16px;
  padding:8px 18px;
  border-radius:20px;
  text-decoration:none;
  transition:0.3s;
}

nav a:hover,
nav a.active{
  background:linear-gradient(90deg,#a855f7,#38bdf8);
  color:black;
}


/* ===== PAGE CONTENT ===== */
.page {
  padding: 60px 40px;
}

.page h1 {
  font-size: 42px;
  margin-bottom: 20px;
}

.page p {
  max-width: 700px;
  line-height: 1.7;
  color: #cbd5f5;
}

/* ===== HERO (HOME) ===== */
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  padding: 60px 40px;
}

.hero-text h1 {
  font-size: 48px;
}

.hero-text span {
  color: #38bdf8;
}

.hero-text p {
  margin: 20px 0;
  color: #cbd5f5;
}

.btn {
  display: inline-block;
  padding: 10px 22px;
  background: #38bdf8;
  color: #020617;
  border-radius: 25px;
  text-decoration: none;
  font-weight: 600;
}

.hero-img img {
  max-width: 280px;
  border-radius: 50%;
}

/* ===== MOBILE ===== */
@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    text-align: center;
  }
}

